{% extends "base.html" %}

{% block title %}Charts{% endblock %}

{% block head %}
    {{ super() }}
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="refresh" content="300" >
{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="chart#chart">Uptime</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="chart#day_chart">24-Hr Uptime</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="chart#runtime_chart">Total Uptime</a>
    </li>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class=" container flex-center flex-column">
        <canvas id="chart" style="border-bottom:1px solid firebrick" ></canvas>
    </div>

    <div class=" container flex-center flex-column">
        <canvas id="day_chart" style="border-bottom:1px solid firebrick"></canvas>
    </div>

    <div class=" container flex-center flex-column">
        <canvas id="runtime_chart" style="border-bottom:1px solid firebrick" ></canvas>
    </div>

  <script type="text/javascript" src="../static/lib/mdbootstrap/js/mdb.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
  <script>
    String.prototype.toHHMMSS = function () {
        var sec_num = parseInt(this, 10); // don't forget the second param
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10 && hours > 0) {hours   = "0"+hours;}

        if (seconds < 10) {seconds = "0"+seconds;}

        if (hours == 0){
            return minutes + 'm ' + seconds + 's';
        }
        return hours + 'h ' + minutes + 'm ' + seconds + 's';
    }
    function seconds_to_hms(sec_num) {
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (seconds < 10) {seconds = "0"+seconds;}

        if (hours == 0){
            return minutes + 'm ' + seconds + 's';
        }
        return hours + 'h ' + minutes + 'm ' + seconds + 's';
    }

  </script>
  <script>
  function random_rgba(alpha) {
    var o = Math.round, r = Math.random, s = 255;
    if(alpha == undefined){
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + ".5" + ')';
    }
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + "1" + ')';
    }
    colors = [{% for item in labels %}
                  random_rgba(),
              {% endfor %}]
    border_colors = [];
    for (var i = 0; i < colors.length; i++){
        border_colors.push(colors[i].replace('.5','1'));
    }

    var ctx = document.getElementById("chart").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in labels %}
                  "{{item | safe}}",
              {% endfor %}],
        datasets: [{
            label: 'Uptime',
            data: [{% for item in values %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: colors,
            borderColor: border_colors,
            borderWidth: 1
        }]
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(toolTipItems, data){
                    return toolTipItems.yLabel + 's';
                },
                afterLabel: function(tooltipItem, data){
                    return data['datasets'][0]['data'][tooltipItem['index']].toString().toHHMMSS();
                }
            }
        },
        title:{display: true, text: 'Uptime', fontSize: 18},
        legend: {display: false},
        scales: {
            yAxes: [{
                ticks: {beginAtZero:true},
                scaleLabel: { display: true, labelString: 'Uptime in Seconds', fontColor: 'blue' }

            }],
            xAxes: [{
                ticks: {autoSkip: false},
                scaleLabel: {display: false, fontColor: 'green'}
            }]
        }

    }
  });
</script>

<script>
  function random_rgba(alpha) {
    var o = Math.round, r = Math.random, s = 255;
    if(alpha == undefined){
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + ".5" + ')';
    }
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + "1" + ')';
    }
    colors = [{% for item in labels %}
                  random_rgba(),
              {% endfor %}]
    border_colors = [];
    for (var i = 0; i < colors.length; i++){
        border_colors.push(colors[i].replace('.5','1'));
    }

    var ctx = document.getElementById("day_chart").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in labels %}
                  "{{item | safe}}",
              {% endfor %}],
        datasets: [{
            label: '24 Hour Uptime',
            data: [{% for item in day_values %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: colors,
            borderColor: border_colors,
            borderWidth: 1
        }]
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(toolTipItems, data){
                    return toolTipItems.yLabel + 's';
                },
                afterLabel: function(tooltipItem, data){
                    return data['datasets'][0]['data'][tooltipItem['index']].toString().toHHMMSS();
                }
            }
        },
        title:{display: true, text: '24 Hour Uptime', fontSize: 18},
        legend: {display: false},
        scales: {
            yAxes: [{
                ticks: {beginAtZero:true,
                        userCallback: function(v) { return seconds_to_hms(v) }
                },
                scaleLabel: { display: true, labelString: '24 Hour Uptime in Seconds', fontColor: 'blue' }

            }],
            xAxes: [{
                ticks: {autoSkip: false},
                scaleLabel: {display: false, fontColor: 'green'}
            }]
        }

    }
  });
</script>

<script>
  function random_rgba(alpha) {
    var o = Math.round, r = Math.random, s = 255;
    if(alpha == undefined){
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + ".5" + ')';
    }
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + "1" + ')';
    }
    colors = [{% for item in labels %}
                  random_rgba(),
              {% endfor %}]
    border_colors = [];
    for (var i = 0; i < colors.length; i++){
        border_colors.push(colors[i].replace('.5','1'));
    }

    var ctx = document.getElementById("runtime_chart").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in labels %}
                  "{{item | safe}}",
              {% endfor %}],
        datasets: [{

            data: [{% for item in runtimes %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: colors,
            borderColor: border_colors,
            borderWidth: 1
        }]
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(toolTipItems, data){
                    return toolTipItems.yLabel + 's';
                },
                afterLabel: function(tooltipItem, data){
                    return data['datasets'][0]['data'][tooltipItem['index']].toString().toHHMMSS();
                }
            }
        },
        title: {display: true, text: 'Total Runtime', fontSize: 18},
        legend: {display: false},
        scales: {
            yAxes: [{
                ticks: {beginAtZero:true,
                        userCallback: function(v) { return seconds_to_hms(v) }
                },
                scaleLabel: { display: true, labelString: 'Runtime in Seconds', fontColor: 'blue' }

            }],
            xAxes: [{
                ticks: {autoSkip: false},
                scaleLabel: {display: false, fontColor: 'green'}
            }]
        }

    }
  });
</script>
{% endblock %}
