{% extends "base.html" %}

{% block title %}Zones{% endblock %}

{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="60" >
{% endblock %}

{% block content %}
  <div class="container table-responsive">
  <table class="table">
      <tbody>
      {% for zone, state in zone_list.items() %}
         <tr>
              <th> {{ zone }} </th>
             {% if state == "1" %}
                <td><img src="/static/images/green_circle.png" height=12px width=12px> </td>
             {% else %}
                <td><img src="/static/images/red.png" height=12px width=12px> </td>
             {% endif %}
         </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
